{% extends "allauth/layouts/entrance.html" %}
{% load allauth %}
{% load i18n %}
{% load socialaccount %}

{% block content %}
  <h1 class="mb-4 text-center">Вход</h1>
  <div class="mt-2 text-center" >
    Нямате акаунт? <a href="{% url 'account_signup' %}" class="signup-link" >Регистрация</a>
  </div>
  {% if form.non_field_errors %}
    {% element alert level="danger" %}
      {% slot message %}
        {{ form.non_field_errors }}
      {% endslot %}
    {% endelement %}
  {% endif %}

  <form method="post" action="{% url 'account_login' %}" class="auth-form">
    {% csrf_token %}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="mb-3">
      <label for="id_login" class="form-label">Имейл</label>
      {{ form.login }}
      {% if form.login.errors %}
        <div class="text-danger small">{{ form.login.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="id_password" class="form-label">Парола</label>
      {{ form.password }}
      {% if form.password.errors %}
        <div class="text-danger small">{{ form.password.errors }}</div>
      {% endif %}
    </div>

    {% if form.remember %}
      <div class="form-check mb-3">
        {{ form.remember }}
        <label class="form-check-label" for="id_remember">Запомни ме</label>
      </div>
    {% endif %}

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Вход</button>
    </div>
  </form>

  <div class="mt-3 text-center">
    <a href="{% url 'account_reset_password' %}">Забравена парола?</a>
  </div>
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <hr>
    <div class="text-center mb-2">Или влезте с:</div>
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  {% endif %}
{% endblock %}
