{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Нулиране на парола" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Нулиране на парола" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% trans "Забравили сте паролата? Въведете своя имейл адрес по-долу и ще ви изпратим имейл с връзка за нулиране." %}
    {% endelement %}
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Нулирай паролата' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% element p %}
        {% blocktrans %}Моля, свържете се с нас, ако имате затруднения с нулирането на паролата.{% endblocktrans %}
    {% endelement %}
{% endblock content %}
