<div class="cookies-popup-notice" role="dialog" aria-label="Съобщение за бисквитки">
    <div class="cookies-notices-wrapper">
        <div class="cookies-container">
            <span class="cookies-notice">
                <a href="#">Политика за поверителност</a>
            </span>
            <p class="cookies-notice-message">Нашият сайт използва основни и външни „бисквитки“. Без съгласие се прилагат само необходимите. Настройките можете да промените по всяко време в браузъра си. Съгласни ли сте с използването на всички „бисквитки“?</p>
            <div class="cookies-notice-buttons">
                <a href='{{ url_accept }}' class='cc-cookie-accept'>Приемам</a>
                <a href='{{ url_decline }}' class='cc-cookie-decline'>Отказвам</a>
                <a href='{{ url_cookies }}'>Информация за бисквитки</a>
            </div>
        </div>
    </div>
</div>