
<!DOCTYPE html>
{% load static %}
{% load account %}
{% load i18n %}
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Handmade Eyelash FANS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/ef151050f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    {% block extra_head_script %} {% endblock %}
</head>
<body class="auth-scope">
    <div class="container">
        <header class="header">
            <a href="/index.html">
                <img src="{% static 'images/base/logo.webp' %}" alt="Handmade Eyelash FANS Logo" class="logo">
            </a>
            <nav class='header-nav'>
                <ul>
                    <li><a href="#">Начало</a></li>
                    <li><a href="#">Продукти</a></li>
                    <li><a href="#">Галерия</a></li>
                    <li><a href="/blog.html">Блог</a></li>
                    <li><a href="#">За нас</a></li>
                    <li><a href="#">Контакти</a></li>
                </ul>
            </nav>
            <section class="header-follow-us">
                <div class="header-right">
                            <form method="post" class="lang-switcher" action="{% url 'set_language' %}">
                                {% csrf_token %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_current_language as LANGUAGE_CODE %}
                                <label for="language-dropdown" class="visually-hidden">{% translate "Select Language" %}</label>
                                <select id="language-dropdown "
                                        class="lang-switcher"
                                        aria-label="{% translate 'Select Language' %}"
                                        name="language"
                                        onchange="this.form.submit()">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for lang in languages %}
                                        <option lang="{{ lang.code }}"
                                                {% if lang.code == LANGUAGE_CODE %}selected{% endif %}
                                                value="{{ lang.code }}">{{ lang.name_local }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                            {% if user.is_authenticated %}
                                <a href="{% url 'account_logout' %}" class="btn btn-danger">{% translate "Sign Out" %}</a>
                            {% else %}
                                <a href="{% url 'account_login' %}" class="btn btn-outline-light">{% translate "Sign In" %}</a>
                                {% url 'account_signup' as signup_url_ %}
                                {% if signup_url_ %}
                                    <a href="{{ signup_url_ }}" class="btn btn-success">{% translate "Sign Up" %}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                <h2>Follow us</h2>
                <ul>
                    <li><a href="https://www.instagram.com/your-page"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/yourpage"><i class="fa-brands fa-facebook"></i></a></li>
                </ul>
            </section>
        </header>
        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}
        <footer class="footer">
            <p>&copy; 2025 Handmade Eyelash FANS. All rights reserved.</p>
        </footer>
    </div>
    {% block extra_body %}{% endblock extra_body %}
    <script src="{% static 'js/base/base.js' %}"></script>
</body>

</html>
