{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block body %}
{%include 'partials/messages.html' %}
<section class="products">
    <div class="product-colection">
        <ul class="products-list">
            {% for product in object_list %}
            <li class="product-item">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-inner">
                            <a href="#">
                                <div class="card-media" id="card-media">
                                    <div class="media-hover-effect">
                                        <img src="{{ product.images.first.image.url }}"
                                            alt="lash-hoover-box-img">
                                    </div>
                                    <div class="media">
                                        <img src="{{ product.images.last.image.url }}" alt="lash-box-img">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="card-information">
                                <h3 class="card-heading-h3">
                                    <a href="#">
                                        4D - 0.07mm - С, Сс, D извивка 500бр.
                                    </a>
                                </h3>
                                <span class="price-item">
                                    Цена {{product.price}} лв
                                </span>
                                <button class="see-more-btn">Повече информация</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}