{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{ product.name }}{% endblock %}
{% block extra_head_script %}
<link rel="stylesheet" href="{% static 'css/product_description.css' %}">
<link rel="stylesheet" href="{% static 'css/toast.css' %}">
{% endblock %}
{% block body %}
    {% include 'partials/toast.html' %}
    {%include 'partials/messages.html' %}
    <div class="product-detail">
        <section class="images-section">
            <!-- main image -->
            <div class="main-image-container">
                <img id="main-image" src="{{ product.images.first.image.url }}" alt="{{ product.name }}" />
            </div>
            <!-- small images -->
            <div class="thumbnails-wrapper">
                <button class="thumb-nav left"><i class="fa-solid fa-angle-left"></i></button>
                <div class="thumbnails-container">
                    {% for image in product.images.all %}
                    <img src="{{ image.image.url }}" alt="{{ product.name }}" class="thumbnail"
                        data-full="{{ image.image.url }}">
                    {% endfor %}
                </div>
                <button class="thumb-nav right"><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </section>
        <section class="main-content">
            <h1>{{ product.name }}</h1>
            <h2>Цена: {{ product.price }} лв</h2>
            <p>{{ product.description|linebreaks }}</p>
                    <div class="quantity-text-wrapper">
                        <p>Изберете количество</p>
                        <p><i class="fa-solid fa-box-open"></i> Остават само {{product.stock}} броя</p>
                    </div>
                    <div class="quantity-wrapper">
                        <!-- Add a condition that when the  product.stock=0 to change the arae with aout of
                             stock message and hide or disable the add to card option -->
                        <button type="button" class="qty-btn" data-action="decrease" aria-label="Намали количество"><i
                                class="fas fa-minus fa-xs"></i></button>
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ product.stock }}"
                            aria-live="polite">
                        <button type="button" class="qty-btn" data-action="increase" aria-label="Увеличи количество"><i
                                class="fas fa-plus fa-xs"></i></button>
                    </div>
                    <button type="button" class="add-to-cart" onclick="addToCart({{ product.pk }},document.getElementById('quantity').value)">Добави в количката</button>
                <a href="{% url 'products' %}">Обратно към продукти</a>
        </section>
    </div>
{% endblock %}
{% block extra_body %}
<script src="{% static 'js/product_details_img.js' %}"></script>
<script src="{% static 'js/add_to_cart.js' %}"></script>
<script src="{% static 'js/toast.js' %}"></script>
<script src="https://kit.fontawesome.com/2176211c5e.js" crossorigin="anonymous"></script>
{% endblock %}