{% extends 'base.html' %}
{% load cart_item_summary_tag %}
{% load static %}
{% block extra_head_script %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}
{% block body %}
{%include 'partials/messages.html' %}
<div class="cart-container">
    <div class="cart-details">
        {% if object_list %}
        <div class="cart-title">
            <h2>Количка</h2>
            <a href="{% url 'products' %}"><span>Продължи пазаруването</span></a>
        </div>
        <div class="cart-list">
            <table class="table">
                <thead>
                    <tr>
                        <th>Продукт</th>
                        <th></th>
                        <th>Количество</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_item in object_list %}
                    <tr class="cart-item" id="item-{{ cart_item.pk }}">
                        <td class="cart-item-media">
                            <a href="{% url 'product_details' slug=cart_item.product.slug %}">
                                <img src="{{cart_item.product.images.first.image.url}}"
                                    alt="product {{ cart_item.product.name }} image">
                            </a>
                        </td>
                        <td class="cart-item-name">
                            <a href="{% url 'product_details' slug=cart_item.product.slug %}"
                                class="details-product-name">{{ cart_item.product.name }}</a>
                        </td>
                        <td class="cart-item-quantity">
                            <div class="cart-item-quantity-wrapper">
                                <div class="quantity-wrapper">
                                        <button  onclick="updateCartItem({{ cart_item.pk }}, -1)" type="submit"
                                                 name="action" value="decrease" class="qty-btn" data-action="decrease"
                                            aria-label="Намали количество">
                                            <i class="fas fa-minus fa-2xs"></i>
                                        </button>
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                        <input type="number" id="quantity-{{cart_item.pk}}" class="quantity quantity-input" name="quantity"
                                            value="{{ cart_item.quantity }}" min="1" max="{{ cart_item.product.stock }}"
                                            aria-live="polite" disabled>
                                        <button  onclick="updateCartItem({{ cart_item.pk }}, 1)" type="submit"
                                                 name="action" value="increase" class="qty-btn" data-action="increase"
                                            aria-label="Увеличи количество">
                                            <i class="fas fa-plus fa-2xs"></i>
                                        </button>
                                </div>
                                <div class="remove-button">
                                    <form method="post" action="{% url 'delete_cart_item' pk=cart_item.pk %}"
                                        class="form-delete">
                                        <button><i class="fa fa-trash"></i></button>
                                        {% csrf_token %}
                                    </form>
                                </div>
                            </div>

                            <p class="stock-message" style="color: red; margin-top: 5px; display:none;"></p>
                        </td>
                        <td class="cart-item-price">
                            <span class="price"> {{ cart_item.product.price|multiply:cart_item.quantity }} лв</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="summary">
            <div class="summary-row"><span>Стойност на продуктите </span><span class="total-price">{{ total }} лв</span>
            </div>
            <div class="proceed-to-checkout">
                <a href="#" class="btn">Звършете поръчката</a>
            </div>
        </div>
        {% else %}
        <p>Количката е празна <a href="{% url 'products' %}">Продължи пазаруване</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block extra_body %}
<script src="{% static 'js/update_cart_item.js' %}"></script>
{% endblock extra_body %}